# Java / Maven
**/target/
**/*.class
**/.settings/
**/.classpath
**/.project
**/.factorypath

# IDEs
**/.idea/
**/.vscode/
**/*.iml
**/nbactions.xml
**/nb-configuration.xml

# Node / Frontend
**/node_modules/
**/.env
**/npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
**/*.log
